.side-bar {
    max-width: fit-content;
    position: sticky;
    top: 0; /* stays at the top when scrolling */
    height: 100vh; /* full height */
    overflow-y: auto; /* optional: scroll if sidebar content is long */
}

.container-web-size {
    max-width: 100%;
}

.row-extend {
    display: flex;
    flex-wrap: wrap;
}