.personal-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.icon-circle {
  width: 35px;   /* circle size */
  height: 35px;
  font-size: 17px; /* icon size */
}
